.display {
    display: grid;
    grid-template-columns: 50% 1fr;
    background-color: black;
}

.formulaire {
    width: 500px;
}

.img {

    border-radius: 50%;
    width: 60px;

}

p {
    color: white;
}

h2 {
    color: white;
    text-align: center;

}

ul {
    list-style: none;
}

li {
    line-height: 150%;

}

.text {
    padding-left: 9%;
}

.competences {

    padding-left: 8%;
}

input[type="text"] {
    border-radius: 0.25%;
    border-color: violet;
    width: 300px;
    color: black;

}

input[type="number"] {
    border-radius: 0.25%;
    border-color: violet;
}

input[type="date"] {
    border-radius: 0.25%;
    border-color: violet;
}

input[type="submit"] {
    border-radius: 0.25%;
    border-color: violet;
}

input[type="reset"] {
    border-radius: 0.25%;
    border-color: violet;
}

label {
    font-size: xl;
    color: white;
}

.ajouter {
    cursor: pointer;
    border-color: violet;
    border-radius: 0.25%;
}

.cv {
    background-color: white;
}

.prenom {
    font-family: cursive;
    font-size: 630%;
    text-align: center;
    text-decoration: underline;
}

.titre {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-size: 60px;
}

.propos {
    padding-top: 30px;
    text-align: center;
    font-size: 27px;
    text-transform: uppercase;
}

.proposm {
    text-align: center;
    font-size: 20px;
}


.contact {
    font-family: Impact;
    font-size: 25px;
    margin-top: 70px;
    margin-left: 30px;
}

.svg-mail {
    position: absolute;
    margin-top: 5px;
    margin-left: 2%;
}

.mail {
    margin-left: 30px;
    margin-top: 5px;
    font-size: 20px;
    margin-left: 15%;
}

.svg-tel {
    position: absolute;
    margin-left: 2%;
    margin-top: 0.5%;
}

.tel {
    margin-left: 15%;
    margin-top: 2%;

}

.svg-adresse {
    position: absolute;
    margin-left: 2%;
    margin-top: 1%;
}

.adresse {
    margin-left: 15%;
    margin-top: 2.5%;
}

.comp {
    display: flex;
    margin-top: 15px;
    margin-left: 30px;
}

.competence {
    font-family: Impact;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
}

.html {
    border: 2px solid violet;
    padding: 10px;
    width: 43px;
    background-color: #000;
    color: violet;
    border-radius: 50px 20px;
}

.css {
    border: 2px solid violet;
    padding: 10px;
    width: 30px;
    background-color: #000;
    color: violet;
    border-radius: 50px 20px;
}

.php {
    border: 2px solid violet;
    padding: 10px;
    width: 30px;
    background-color: #000;
    color: violet;
    border-radius: 50px 20px;
}

.java {
    border: 2px solid violet;
    padding: 10px;
    width: 60px;
    background-color: #000;
    color: violet;
    border-radius: 50px 20px;
}
.f{
    margin-left: 8%;
    margin-top: 4%;
}

.formation {
    font-family: Impact;
    font-size: 25px;
    margin-top: 40px;
    margin-left: 30px;
}


.d-f {
    margin-left: 30px;
    margin-top: 10px;
    font-family: "Lucida Console", "Courier New", monospace;

}

.ff {
    margin-left: 30px;
    text-transform: uppercase;
    font-family: Copperplate;
    font-size: 20px;
}

.lieu {
    margin-left: 30px;
}
.v-line {
    border-left: thick solid #000;
    height: 60%;
    width: 5px;
    margin-top: -23%;
    margin-left: 25%;
    position: absolute;
    align-items: center;
}
.tout{
    display: grid;
    grid-template-columns: 400px 400px;
}
.dis{
    margin-top: 20%;
}
.date{
    font-family: "Lucida Console", "Courier New", monospace;
}
.poste{
text-transform: uppercase;
    font-family: Copperplate;
}